{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    ["@babel/typescript", { "allowNamespaces": true }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-lodash"
  ],
  "assumptions": {
    "setPublicClassFields": false
  }
}
