# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[doc/**.md]
# mkdocs requires 4 spaces. With 2 space indents, nested lists do not work
indent_size = 4

[*.scss]
indent_size = 2
