html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: #000;
    font-size:12px;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    z-index: 999; /* required for IE9 */
}

.loadingIndicator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/ajax-loader.gif);
    z-index: 999; /* required for IE9 */
}

.menu {
    position: absolute;
    display: block;
    right: 0;
    top: 200px;
}

.menuItem {
    opacity: 0.95;
    font-size: 9.5pt;
    padding: 2px;
    color: #444;
    width: 80px;
}

.navigation-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    font-size: 9.5pt;
    padding: 0px;
    color: #444;
    width: 30px;
    z-index: 999; /* required for IE9 */
}

.navigation-control {
    display: inline-block;
    position:relative;
    color: #66CCFF;  /* For text buttons */
    fill: #2EA1C3;   /* For SVG buttons */
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navigation-control:hover {
    color: #fff;  /* For text buttons */
    fill: #fff;   /* For SVG buttons */
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.dialog {
    display: none;
    font-size: 9.5pt;
    width: 300px;
    opacity: 0.9;
}

.list {
    height:20%;
    overflow: auto;
    list-style-type: none; 
    margin: 10px;
    width: 100%;
}

.list .ui-selecting { 
    background: #FECA40;
}

.list .ui-selected { 
    background: #F39814; 
    color: white; 
}

li {
    padding-left: 10px; 
    margin-left: 10px;
}

.info {
    max-height:180px;
    overflow: auto;
    width: 90%;
    margin: 20px;
}

.data_type { 
    font-weight: bold;  
    margin-left: 0px; 
    margin-top: 8px; 
    margin-bottom: 5px;
}

.ui-icon-blank {
    background-position: -224px -192px;
}

.ausglobe-title-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid gray;
    vertical-align: middle;
    z-index: 999; /* required for IE9 */
    padding-left: 10px;
}

.ausglobe-title-area:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.ausglobe-title-middle {
    display: inline-block;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    right: 350px;
    bottom: 10px;
    color: #aaaaaa;
    vertical-align: bottom;
    min-width: 350px;
}

.ausglobe-title-position {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.ausglobe-title-scale {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ausglobe-title-scale-label {
    display: inline-block;
    height: 15px;
    padding-right: 10px;
}

.ausglobe-title-scale-bar {
    display: inline-block;
    height: 10px;
    width: 100px;
    border-left: 2px solid #9A9A9B;
    border-right: 2px solid #9A9A9B;
    border-bottom: 2px solid #9A9A9B;
}

.ausglobe-title-image {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.ausglobe-title-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 10px;
}

.ausglobe-title-menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ausglobe-title-menuItem {
    display: inline-block;
    position: relative;
    color: #9A9A9B;
    font-size: 10pt;
    cursor: pointer;
}

a.ausglobe-title-menuItem {
    text-decoration: none;
    vertical-align: middle;
    fill: #999EA1;
    width: 32px;
    height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

a.ausglobe-title-menuItem:hover {
    text-decoration: underline;
    fill: #fff;
}

.ausglobe-title-menuItem-divider {
    position: relative;
    display: inline;
    color: #9A9A9B;
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}

.ausglobe-title-credits {
    position: absolute;
    font-weight: 400;
    font-size: 7.5pt;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 400px;
    overflow: hidden;
}

@media screen and (max-width: 850px)
{
    .ausglobe-title-middle {display: none; }
}

@media screen and (max-width: 520px)
{
    .ausglobe-title-menuItem {display: none; }
}

.ausglobe-left-area {
    position: absolute;
    left: 20px;
    width: 360px;
    top: 144px;
    bottom: 80px;
    pointer-events: none;
    z-index: 999; /* required for IE9 */
}

.ausglobe-panel-button {
    pointer-events: auto;
    position: relative;
    border: 1px solid gray;
    width: 64px;
    height: 35px;
    left: 0;
    font-size: 10.5pt;
    background-color: rgba(0, 0, 0, 0.65);
    line-height: 35px;
    cursor: pointer;
    fill: #2EA1C3;
    margin-top: 20px;

    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -ms-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

.ausglobe-panel-button:hover {
    color: #fff;  /* For text buttons */
    fill: #fff;   /* For SVG buttons */
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.ausglobe-panel-button-panel-visible {
    fill: #fff;
}

.ausglobe-panel-button-label {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    width: 64px;
    height: 35px;
    color: #66CCFF;
    font-weight: bold;
    text-align: center;
}

.ausglobe-panel-button-panel-visible .ausglobe-panel-button-label {
    color: #fff;
}

.ausglobe-panel-button:hover .ausglobe-panel-button-label {
    color: #fff;
}

.ausglobe-panel {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: -400px;
    width: 360px;
    background-color: rgba(0, 0, 0, 0.65);
    pointer-events: auto;
    max-height: 500px;
    overflow: auto;
    border: 1px solid gray;

    -webkit-transition: visibility 0s 0.25s, left 0.25s;
    -moz-transition: visibility 0s 0.25s, left 0.25s;
    -ms-transition: visibility 0s 0.25s, left 0.25s;
    -o-transition: visibility 0s 0.25s, left 0.25s;
    transition: visibility 0s 0.25s, left 0.25s;
}

.ausglobe-panel-visible {
    visibility: visible;
    left: 84px;
    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -ms-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

.ausglobe-now-viewing {
    overflow: auto;
    max-height: 150px;
    border-bottom: 1px solid gray;
}

.ausglobe-now-viewing-clear-all {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #66CCFF;
}

.ausglobe-data-panel-bottom {
    overflow: auto;
    max-height: 350px;
}

.ausglobe-accordion-item {
}

.ausglobe-accordion-item-header {
    position: relative;
    margin: 2px;
    cursor: pointer;
    background-color: black;
}

.ausglobe-accordion-item-header-label {
    display: inline-block;
    padding: 10px;
    color: #66CCFF;
    font-weight: 600;
    font-size: 15px;
}

.ausglobe-accordion-item-header-arrow {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ausglobe-accordion-item-content {
    visibility: hidden;
    position: relative;
    max-height: 0px;
    overflow: hidden;

    -webkit-transition: max-height 0.25s, visibility 0s 0.25s;
    -moz-transition: max-height 0.25s, visibility 0s 0.25s;
    -ms-transition: max-height 0.25s, visibility 0s 0.25s;
    -o-transition: max-height 0.25s, visibility 0s 0.25s;
    transition: max-height 0.25s, visibility 0s 0.25s;
}

.ausglobe-accordion-item-content-visible {
    visibility: visible;
    max-height: none;

    -webkit-transition: max-height 0.25s;
    -moz-transition: max-height 0.25s;
    -ms-transition: max-height 0.25s;
    -o-transition: max-height 0.25s;
    transition: max-height 0.25s;
}

.ausglobe-accordion-category {
}

.ausglobe-accordion-category-header {
    cursor: pointer;
    padding: 10px;
}

.ausglobe-accordion-category-header-arrow {
    display: inline-block;
    position: relative;
    top: 5px;
    fill: #66CCFF;   /* For SVG buttons */
    width: 24px;
    height: 24px;
}

.ausglobe-accordion-category-header-label {
    display: inline-block;
    color: #66CCFF;
    font-size: 14px;
    font-weight: 400;
}

.ausglobe-accordion-category-content {
    display: none;
    position: relative;
    width: 100%;
}

.ausglobe-accordion-category-content-visible {
    display: inline-block;
}

.ausglobe-nowViewing-drop-target {
    position: relative;
    border: 1px dashed gray;
}

.ausglobe-accordion-category-item {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.ausglobe-now-viewing-no-data {
    color: white;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.ausglobe-accordion-category-item-label {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 275px;
    vertical-align: middle;
}

.ausglobe-accordion-category-item-enabled {
    background-color: rgba(128, 128, 128, 0.65);
    cursor: pointer;
}

.ausglobe-accordion-category-item-enabled:hover .ausglobe-accordion-category-item-label {
    text-decoration: underline;
}

.ausglobe-nowViewing-dragHandle {
    cursor: move;
    position: relative;
    top: 4px;
}

.ausglobe-accordion-category-item-checkbox {
    fill: #66CCFF;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 0px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.ausglobe-accordion-category-item-infoButton {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 9pt;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #66CCFF;
    cursor: pointer;
    top: 8px;
}

.ausglobe-viewer-radio-button {
    display: block;
    font-size: 11pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
}

.ausglobe-imagery-option {
    border: 1px solid #E3E4E5;
    margin: 5px;
}

.ausglobe-imagery-label {
    text-align: center;
}

.ausglobe-legend-opacity {
    color: #fff;
    font-size: 10pt;
    padding: 5px;
}

.ausglobe-legend-opacitySlider {
    vertical-align: middle;
}

.ausglobe-search-form {
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 20px;
    z-index: 999; /* required for IE9 */
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px;
    border: 1px solid gray;
}

.ausglobe-search-form .ausglobe-search-input {
    border: solid 1px #444;
    background-color: white;
    color: black;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 32px;
    margin: 0;
    padding: 5px;
    padding-right: 32px;
    border-radius: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ausglobe-search-form:hover .ausglobe-search-input {
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.ausglobe-search-form .ausglobe-search-input:focus {
    box-shadow: none;
    outline: none;
}

.ausglobe-search-button {
    background-color: #2EA1C3;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 32px;
    top: 16px;
    right: 16px;
    height: 30px;
    vertical-align: middle;
    fill: #edffff;
}

.ausglobe-search-button:hover {
    background-color: #48b;
}

.ausglobe-info-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000; /* required for IE9 */
}

.ausglobe-info {
    display: inline-block;
    width: 80%;
    height: 520px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
}

.ausglobe-info-translucencySlider {
    vertical-align: middle;
}

.ausglobe-info-baseUrl {
    padding: 10px;
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
}

.ausglobe-info-table {
    background-color: #E3E3E3;
    padding: 5px;
}

.ausglobe-share {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
}

.ausglobe-services {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
}

.ausglobe-message {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Open Sans", sans-serif;
}

.ausglobe-services-send-button {
    color: #0099CC;
    background-color: white;
    border: 1px solid #0099CC;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ausglobe-share-right {
    position: relative;
}

.ausglobe-share-label {
    padding-top: 15px;
}

.ausglobe-info-header {
    border-bottom: 1px solid #9A9A9B;
}

.ausglobe-info-content {
    position: relative;
    overflow: auto;
    height: 435px;
    padding: 15px;
}

.ausglobe-info-close-button {
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    color: #0099CC;
}

.ausglobe-info h1, .ausglobe-share h1, .ausglobe-services h1, .ausglobe-message h1 {
    font-size: 12pt;
    padding: 15px;
    font-weight: bold;
    margin: 0;
}

.ausglobe-info h2, .ausglobe-share h2, .ausglobe-services h2 {
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
}

.ausglobe-info h3, .ausglobe-share h3, .ausglobe-services h3 {
    font-size: 9pt;
}

.ausglobe-info hr, .ausglobe-share hr, .ausglobe-services hr {
    margin-bottom: 20px;
}

.ausglobe-info-description {
    font-size: 10pt;
    font-weight: normal;
}

.ausglobe-info-field {
    position: relative;
    left: 10px;
    right: 10px;
}

.ausglobe-info-section {
    padding-bottom: 20px;
}

.ausglobe-info-properties-name-cell {
    white-space: nowrap;
}

.ausglobe-info-properties-level1 {
    padding-left: 0px;
}

.ausglobe-info-properties-level2 {
    padding-left: 20px;
}

.ausglobe-info-properties-level3 {
    padding-left: 40px;
}

.ausglobe-info-properties-level4 {
    padding-left: 60px;
}

.ausglobe-info-properties-parent {
    cursor: pointer;
}

.ausglobe-info-properties-arrow {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 3px;
}

.ausglobe-info-properties-name {
    display: inline-block;
}

.ausglobe-add-data-message {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.ausglobe-upload-file-button {
    font-weight: bold;
    cursor: pointer;
    color: #66CCFF;
}

.ausglobe-user-service-form {
    position: relative;
    padding: 10px;
    width: 320px;
    min-height: 100px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.ausglobe-button {
    position: absolute;
    display: inline-block;
    height: 30px;
    border: 1px solid #2EA1C3;
    width: 80px;
    right: 6px;
    font-size: 9pt;
    padding: 2px;
    background-color: black;
    color: #2EA1C3;
    line-height: 30px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
}

.ausglobe-wfs-url-input {
    width: 100%;
}

.ausglobe-addData-type {
    position: relative;
    display: inline-block;
    top: 5px;
    left: 45px;
}

.ausglobe-addData-typeSelect {
    border: #66CCFF;
    background-color: black;
    color: #66CCFF;
    padding: 5px;
    border: 1px solid #66CCFF;
    height: 30px;
}

.ausglobe-addData-type:after {
    position: absolute;
    bottom: 9px;
    right: 8px;
    padding: 0 0 2px;
    border-top: 10px solid #66CCFF;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: ' ';
    pointer-events: none;
}

.ausglobe-accordion-category-loading {
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding-left: 20px;
}

@media print {
  .fullWindow { position: initial; }
  .ausglobe-accordion-item, .navigation-controls {display: none; }
  .ausglobe-left-area, .ausglobe-title-area {display: none; }
  .ausglobe-search-button, .ausglobe-search-form {display: none; }
}

#cesiumContainer .cesium-widget-credits {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 9px;
    text-shadow: 0px 0px 1px #000000;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
}

#cesiumContainer .cesium-credit-imageContainer {
    display: none;
}

.cesium-credit-text:first-child {
    font-weight: bolder;
}

.cesium-credit-text:nth-child(3) {
    font-weight: bolder;
}

.cesium-infoBox {
    top: 164px;
    right: 20px;
    border-radius: 0px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.65);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    box-shadow: 0 0 0 0;
    z-index: 999;
}

.cesium-infoBox-body {
    max-height: 462px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.cesium-infoBox-title {
    background-color: black;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

button.cesium-infoBox-camera {
    display: none;
}

.leaflet-container {
    cursor: auto;
}
