@import "../../Sass/common/variables";
@import "../../Sass/common/mixins";

.chart-disclaimer-panel {
  background: #9a4b4b;
  color: white;
  padding: 1px $padding;
  font-size: 0.8rem;
  p {
    margin: $padding 0px;
    a,
    a:visited {
      color: white;
    }
  }
}
