.add-data-panel {
    .modal;
    width: 515px;
    height: 515px;
}

.add-data-header {
    line-height: 40px;
    border-bottom: 1px solid #9A9A9B;
}

.add-data-header h1 {
    font-size: 16px;
    padding-left: 15px;
    margin: 0;
}

.add-data-close-button {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    color: #0099CC;
}

.add-data-content {
    font-weight: lighter;
    padding: 15px;
}

.add-data-content p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.add-data-content h2 {
    font-weight: bold;
}

.add-data-content strong {
    font-weight: bold;
}

.add-data-select-file-button {
    font-weight: bold;
    cursor: pointer;
    color: #66CCFF;
}

.add-data-select-file-button:hover {
    text-decoration: underline;
}

.add-data-weblink-input-holder {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #a1a3a6;
}

@add-data-weblink-input-padding: 16px;
@add-data-weblink-input-border: 0px;

.add-data-weblink-form {
    position: relative;
    height: 40px;
    background-color: #a1a3a6;
    padding-left: @add-data-weblink-input-padding * 2 + @add-data-weblink-input-border + @add-data-weblink-input-border;
}

.add-data-weblink-input {
    padding-left: @add-data-weblink-input-padding;
    padding-right: @add-data-weblink-input-padding;
    border: @add-data-weblink-input-border;
    width: 100%;
    background-color: #a1a3a6;
    color: #ffffff;
    line-height: 38px;
    margin-left: -(@add-data-weblink-input-padding * 2 + @add-data-weblink-input-border + @add-data-weblink-input-border);
}

.add-data-weblink-input::-webkit-input-placeholder {
    color: #ffffff;
    font-style: italic;
}

.add-data-weblink-input:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
    font-style: italic;
}

.add-data-weblink-input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
    font-style: italic;
}

.add-data-weblink-input:-ms-input-placeholder {
    color: #ffffff;
    font-style: italic;
}

p.add-data-content-new-section {
    margin-top: 32px;
}