.brand-bar {
    .opaque-to-input;
    position: absolute;
    left: 0;
    top: 0;
    width: @brand-bar-width;
    height: 118px;
    background-color: @brand-bar-background-color;
    opacity: @brand-bar-opacity;
    border-bottom: 1px solid #282828;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.26);
}

.brand-bar-main {
    position: absolute;
    width: @brand-bar-width;
    height: 68px;
    top: 0;
    left: 0;
    display: table;
    padding-left: 10px;
    z-index: 1;
}

.brand-bar-slant {
    &:extend(.brand-bar-body);
    display: none;
    position: absolute;
    left: @brand-bar-width;
    top: 0;
    width: 34px;
    height: 68px;
    transform: skewX(-25deg);
    transform-origin: top;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: 0 0;
    z-index: 0;
}

.brand-bar-element {
    display: table-cell;
    height: 68px;
    vertical-align: middle;
}

.brand-bar-name {
    color: #ffffff;
    font-family: @default-font;
    font-size: 20px;
    vertical-align: middle;
}

.brand-bar-name strong {
    font-weight: bolder;
}

.brand-bar-name small {
    font-weight: lighter;
}

.brand-bar-show-hide-explorer-panel {
    position: absolute;
    left: 16px;
    top: 68px;
    width: 40px;
    height: 40px;
    border: 1px solid @panel-border-color;
}

.brand-bar-menu-icon {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #cccccc;
    left: 13px;
    top: 13px;

}

.brand-bar-menu-icon-highlighted {
    fill: #ffffff;
    background-color: #284D52;
}