.full-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.transparent-to-input {
    pointer-events: none;
}

.opaque-to-input {
    pointer-events: auto;
}

.clickable {
    cursor: pointer;
}
