.explorer-panel {
    .panel;
    position: absolute;
    left: 10px;
    width: 395px;
    top: 140px;
    bottom: 2px; 
}

.explorer-panel-collapsed {
    bottom: auto;
    height: 40px;
}

.explorer-panel-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-left: 1px solid @panel-border-color;
    border-bottom: 1px solid @panel-border-color;
}

.explorer-panel-tab-area {
    position:absolute;
    left: 0;
    top: 0;
    width: 355px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: table;
    border-bottom: 1px solid @panel-border-color;
}

.explorer-panel-tab {
    line-height: 39px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: @explorer-inactive-tab-color;
    display: table-cell;
    cursor: pointer;
}

.explorer-panel-tab-active {
    border-bottom: 1px solid @highlight-color;
    color: @highlight-color;
}

.explorer-panel-collapsed .explorer-panel-tab-active {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.explorer-panel-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    overflow: auto;
}

.explorer-panel-close {
    cursor: pointer;
}

.explorer-panel-close-icon {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #cccccc;
    left: 13px;
    top: 13px;
}

.explorer-panel-open-icon {
    position: relative;
    width: 22px;
    height: 16px;
    fill: #cccccc;
    left: 9px;
    top: 12px;
}