.explorer-panel {
    .panel;
    position: absolute;
    left: 0;
    width: @explorer-panel-width;
    top: 69px;
    bottom: 0;

    -webkit-transition: left @explorer-panel-close-animation-length ease-out;
    -moz-transition: left @explorer-panel-close-animation-length ease-out;
    -ms-transition: left @explorer-panel-close-animation-length ease-out;
    -o-transition: left @explorer-panel-close-animation-length ease-out;
    transition: left @explorer-panel-close-animation-length ease-out;
}

.explorer-panel-collapsed {
}

.explorer-panel-close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-left: 1px solid @panel-border-color;
    border-bottom: 1px solid @panel-border-color;
}

.explorer-panel-header {
    position:absolute;
    left: 0;
    top: 0;
    width: @explorer-panel-width;
    height: 40px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid @panel-border-color;
    background-color: #757f88;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.26);
}

.explorer-panel-tab-area {
    position:absolute;
    left: 8px;
    top: 0;
    right: 50px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: table;
}

.explorer-panel-tab {
    line-height: 39px;
    //text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #cccccc;
    display: table-cell;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}

.explorer-panel-tab-active {
    border-bottom: 1px solid @highlight-color;
    color: #ffffff;
}

.explorer-panel-collapsed .explorer-panel-tab-active {
    //border-bottom: 1px solid #ffffff;
    //color: #ffffff;
}

.explorer-panel-body {
    position: absolute;
    background-color: @panel-background-color;
    left: 0;
    width: @explorer-panel-width;
    top: 40px;
    bottom: 0;
    overflow: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.26);
    overflow-x: hidden;

    -webkit-transition: left @explorer-panel-close-animation-length ease-out;
    -moz-transition: left @explorer-panel-close-animation-length ease-out;
    -ms-transition: left @explorer-panel-close-animation-length ease-out;
    -o-transition: left @explorer-panel-close-animation-length ease-out;
    transition: left @explorer-panel-close-animation-length ease-out;
}

.explorer-panel-frame {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: @explorer-panel-width;
    left: 0;

    -webkit-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -moz-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -ms-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -o-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    transition: left @explorer-panel-tab-switch-animation-length ease-out;
}

.explorer-panel-body-pane {
    position: relative;
}

.explorer-panel-frame-inactive-left {
    left: -@explorer-panel-width;

    -webkit-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -moz-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -ms-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -o-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    transition: left @explorer-panel-tab-switch-animation-length ease-out;
}

.explorer-panel-frame-inactive-right {
    left: @explorer-panel-width;

    -webkit-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -moz-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -ms-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    -o-transition: left @explorer-panel-tab-switch-animation-length ease-out;
    transition: left @explorer-panel-tab-switch-animation-length ease-out;
}

.explorer-panel-body-collapsed {
    left: -@explorer-panel-width;

    -webkit-transition: left @explorer-panel-close-animation-length ease-out;
    -moz-transition: left @explorer-panel-close-animation-length ease-out;
    -ms-transition: left @explorer-panel-close-animation-length ease-out;
    -o-transition: left @explorer-panel-close-animation-length ease-out;
    transition: left @explorer-panel-close-animation-length ease-out;
}

.explorer-panel-close {
    cursor: pointer;
}

.explorer-panel-close-icon {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #cccccc;
    left: 13px;
    top: 13px;
}

.explorer-panel-open-icon {
    position: relative;
    width: 22px;
    height: 16px;
    fill: #cccccc;
    left: 9px;
    top: 12px;
}

.explorer-panel-collapse-button {
    position: absolute;
    left: @explorer-panel-width - 44px;
    top: 0;
    width: 40px;
    height: 40px;

    // -webkit-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4 @explorer-panel-close-animation-length*3/4;
    // -moz-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4 @explorer-panel-close-animation-length*3/4;
    // -ms-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4 @explorer-panel-close-animation-length*3/4;
    // -o-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4 @explorer-panel-close-animation-length*3/4;
    // transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4 @explorer-panel-close-animation-length*3/4;

    -webkit-transition: -webkit-transform @explorer-panel-close-animation-length ease-out;
    -moz-transition: -moz-transform @explorer-panel-close-animation-length ease-out;
    -ms-transition: -ms-transform @explorer-panel-close-animation-length ease-out;
    -o-transition: -o-transform @explorer-panel-close-animation-length ease-out;
    transition: transform @explorer-panel-close-animation-length ease-out;
}

.explorer-panel-collapse-button-icon {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #cccccc;
    left: 13px;
    top: 13px;
    background-color: #757f88;
}

.explorer-panel-collapsed .explorer-panel-collapse-button {
    //left: -44px;
    //opacity: 0.0;
    -webkit-transform: rotate(-0.5turn);
    -moz-transform: rotate(-0.5turn);
    -ms-transform: rotate(-0.5turn);
    -o-transform: rotate(-0.5turn);
    transform: rotate(-0.5turn);

    // -webkit-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4;
    // -moz-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4;
    // -ms-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4;
    // -o-transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4;
    // transition: left @explorer-panel-close-animation-length ease-out, opacity @explorer-panel-close-animation-length/4;

    -webkit-transition: -webkit-transform @explorer-panel-close-animation-length ease-out;
    -moz-transition: -moz-transform @explorer-panel-close-animation-length ease-out;
    -ms-transition: -ms-transform @explorer-panel-close-animation-length ease-out;
    -o-transition: -o-transform @explorer-panel-close-animation-length ease-out;
    transition: transform @explorer-panel-close-animation-length ease-out;
}

.foo {
    position: absolute;
}