.location-bar {
    .opaque-to-input;
    position: absolute;
    right: 170px;
    bottom: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(47,53,60,80%);
    padding-left: 5px;
    padding-right: 5px;
}

.location-bar-label {
    display: inline-block;
    font-family: @default-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 10px;
}

.location-bar-value {
    display: inline-block;
    font-family: @default-font;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-right: 10px;
}

@media print {
    .location-bar {
        display: none;
    }
}
