@import url("../build/Cesium/Widgets/widgets.css");

#cesiumContainer .cesium-widget-credits {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 9px;
    text-shadow: 0px 0px 1px #000000;
    padding: 5px;
    font-family: @default-font;
}

#cesiumContainer .cesium-credit-imageContainer {
    display: none;
}

.cesium-credit-text:first-child {
    font-weight: bolder;
}

.cesium-credit-text:nth-child(3) {
    font-weight: bolder;
}

.map-displaced {
    left: @explorer-panel-width;

    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -ms-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
}
