.menu-bar {
    .floating-horizontal;
    right: 25px;
    top: 20px;
    height: 30px;
}

.menu-bar-item {
    display: inline-block;
    font-family: @default-font;
    font-size: 16px;
    line-height: 30px;
    color: @menu-bar-text-color;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.menu-bar-item:hover {
    text-decoration: underline;
}

.menu-bar-item-enabled {
    background-color: @menu-bar-active-background-color;
    color: @menu-bar-active-text-color;
}

@media print {
    .menu-bar {
        display: none;
    }
}
