.now-viewing-item-top-row {
    display: table;
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid @panel-border-color;
    border-top: 1px solid @panel-border-color;
    cursor: pointer;
}

.now-viewing-item-label {
    display: table-cell;
    font-size: 16px;
    color: #FFFFFF;
}

.now-viewing-item-icon-holder {
    display: table-cell;
    width: 20px;
    padding-left: 16px;
}

.now-viewing-item-icon {
    position: relative;
    width: 15px;
    height: 15px;
    fill: #CCCCCC;
}

.now-viewing-shown-item {
    color: @highlight-color;
    fill: @highlight-color;
}

.now-viewing-item-info {
    display: table-cell;
    text-align: right;
    width: 20px;
}

.now-viewing-info-icon {
    position: relative;
    width: 18px;
    height: 18px;
    fill: #CCCCCC;
    top: 3px;
    margin-right: 16px;
}

.now-viewing-toolbar {
    height: 40px;
}

.now-viewing-clear-all {
    background-color: darken(@panel-background-color, 10%);
    font-style: italic;
    font-size: 16px;
    color: @highlight-color;
    line-height: 38px;
    padding-left: 16px;
    border-top: 1px solid @panel-border-color;
}

.now-viewing-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    overflow: auto;
}

.now-viewing-no-items {
    padding-left: 16px;
    padding-top: 16px;
    color: #ffffff;
    font-weight: lighter;
    border-top: 1px solid @panel-border-color;
}

.now-viewing-item-arrow-holder {
    display: table-cell;
    width: 20px;
}

.now-viewing-item-arrow {
    position: relative;
    width: 15px;
    height: 15px;
    fill: #CCCCCC;
    margin-right: 16px;
}

.now-viewing-legend-text {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: #ffffff;
}

.now-viewing-legend-image {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.now-viewing-item-opacity {
    padding-left: 20px;
    color: #ffffff;
}

.now-viewing-opacity-slider {
    display: block;
}

.now-viewing-action-menu {
    padding-left: 20px;
    color: @highlight-color;
}

.now-viewing-action {
    display: inline-block;
    padding: 10px;
}