.search-panel {
    .panel;
    position: absolute;
    left: 10px;
    width: 395px;
    top: 90px;
    height: 40px;
}

.search-panel-input {
    width: 355px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    color: #999999;
    font-style: italic;
}

.search-panel-search-button {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    fill: #ffffff;
}