.search-panel {
    position: absolute;
    left: 66px;
    width: 311px;
    top: 68px;
    height: 40px;
    border: 1px solid @panel-border-color;
}

.search-panel-input {
    position: absolute;
    left: 0;
    width: 315px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    color: #999999;
    font-style: italic;
}

.search-panel-search-button {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 10px;
    top: 10px;
    fill: #ffffff;
}