.settings-panel {
    .panel;
    background-color: @panel-background-color;
    top: 60px;
    right: 100px;
    width: 260px;
    position: absolute;

    -webkit-transition: right @explorer-panel-close-animation-length ease-out;
    -moz-transition: right @explorer-panel-close-animation-length ease-out;
    -ms-transition: right @explorer-panel-close-animation-length ease-out;
    -o-transition: right @explorer-panel-close-animation-length ease-out;
    transition: right @explorer-panel-close-animation-length ease-out;
}

.settings-panel-hidden {
    right: -300px;

    -webkit-transition: right @explorer-panel-close-animation-length ease-out;
    -moz-transition: right @explorer-panel-close-animation-length ease-out;
    -ms-transition: right @explorer-panel-close-animation-length ease-out;
    -o-transition: right @explorer-panel-close-animation-length ease-out;
    transition: right @explorer-panel-close-animation-length ease-out;
}

.settings-panel-callout {
}

.settings-panel-body {
}

.settings-panel-section {
}

.settings-panel-section-header {
    padding: 5px;
    background-color: @panel-section-background-color;
    color: @panel-emphasized-text-color;
}

.settings-panel-section-content {
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.settings-panel-map-view-button {
    .clickable;
    display: inline;
    border: @panel-element-border;
    padding: 5px;
    color: @panel-text-color;
}

.settings-panel-map-view-button-selected {
    background-color: @highlight-color;
    color: @panel-emphasized-text-color;
}

.settings-panel-base-map-label {
    padding-bottom: 10px;
    color: @panel-emphasized-text-color;
}

.settings-panel-base-map-choices {
}

.settings-panel-base-map-button {
    .clickable;
    border: @panel-element-border;
}

.settings-panel-base-map-button-selected {
    border: 1px solid @panel-selected-text-color;
}

.settings-panel-base-map-button:hover {
    border: 1px solid @panel-emphasized-text-color;
}

@media print {
    .settings-panel {
        display: none;
    }
}
