@share-popup-height: 600px;

.share-popup {
    .modal;
    width: 600px;
    height: @share-popup-height;
}

.share-popup-header {
    line-height: 40px;
    border-bottom: @panel-element-border;
    background-color: rgba(0,0,0,0.2);
}

.share-popup-header h1 {
    font-size: 16px;
    padding-left: 15px;
    margin: 0;
}

.share-popup-close-button {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    color: @panel-emphasized-text-color;
}

.share-popup-content {
    font-weight: lighter;
    padding: 15px;
    overflow: auto;
    height: @share-popup-height - 40px - 30px;
    color: @panel-text-color;
}

.share-popup-right {
}

.share-popup-label {
    padding-top: 15px;
}

.share-popup-label ul {
    list-style: disc inside none;
}

.share-popup-label li {
    padding-left: 10px;
}

.share-popup-label input {
    width: 550px;
}