<div class="brand-bar">
    <div class="brand-bar-main">
        <div class="brand-bar-element">
            <img data-bind="attr: { src: leftLogo }" height="52" />
        </div>
        <div class="brand-bar-element">
            <div class="brand-bar-name" data-bind="html: name"></div>
        </div>
        <div class="brand-bar-element">
            <img src="images/nicta.png" height="52" />
        </div>
    </div>
    <div class="brand-bar-slant"></div>
    <!--
    <div class="brand-bar-show-hide-explorer-panel clickable" data-bind="css: { 'brand-bar-menu-icon-highlighted': explorerPanelIsOpen }, click: toggleExplorerPanelOpen">
        <div class="brand-bar-menu-icon" data-bind="cesiumSvgPath: { path: svgMenu, width: 22, height: 16 }, css: { 'brand-bar-menu-icon-highlighted': explorerPanelIsOpen }"></div>
    </div>
    -->
</div>
