<script type="text/html" id="data-catalog-item-template">
    <div class="data-catalog-member" data-bind="css: 'data-catalog-indent' + ($parents.length - 2)">
        <!-- ko if: typeof items === 'undefined' -->
        <div class="data-catalog-item-label" data-bind="text: name"></div>
        <!-- /ko -->

        <!-- ko if: typeof items !== 'undefined' -->
            <div class="data-catalog-group-label" data-bind="text: name, click: toggleOpen"></div>
            <!-- ko if: isOpen -->
                <div class="data-catalog-group-contents" data-bind="template: { name: 'data-catalog-item-template', foreach: items }"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</script>

<div class="data-catalog-top-group" data-bind="foreach: catalog.group.items">
    <div class="data-catalog-top-group-header" data-bind="click: toggleOpen">
        <div class="data-catalog-top-group-label" data-bind="text: name"></div>
    </div>
    <!-- ko if: typeof items !== 'undefined' && isOpen -->
    <div class="data-catalog-top-group-contents" data-bind="template: { name: 'data-catalog-item-template', foreach: items }"></div>
    <!-- /ko -->
</div>
