<div class="navigation-controls">
    <div class="navigation-control" data-bind="click: zoomIn" title="Zoom In">
        <div class="navigation-control-icon-zoom-in" data-bind="cesiumSvgPath: { path: svgZoomIn, width: 22, height: 22 }"></div>
    </div>
    <div class="navigation-control" data-bind="click: resetView" title="Reset View">
        <div class="navigation-control-icon-reset" data-bind="cesiumSvgPath: { path: svgReset, width: 15, height: 15 }"></div>
    </div>
    <div class="navigation-control" data-bind="click: zoomOut, css: { 'navigation-control-last': !showTilt }" title="Zoom Out">
        <div class="navigation-control-icon-zoom-out" data-bind="cesiumSvgPath: { path: svgZoomOut, width: 22, height: 22 }"></div>
    </div>
    <div class="navigation-control-last" data-bind="click: tilt, visible: showTilt" title="Change Tilt">
        <div class="navigation-control-icon-tilt" data-bind="cesiumSvgPath: { path: svgTilt, width: 32, height: 32 }"></div>
    </div>
</div>
