<div class="compass" title="Drag the outer ring to rotate or the inner gyroscope to free orbit.  TIP: free orbit by holding the CTRL key while left-click dragging the map." data-bind="event: { mousedown: handleMouseDown }">
    <div class="compass-outer-ring-background"></div>
    <div class="compass-rotation-marker" data-bind="visible: isOrbiting, style: { transform: 'rotate(-' + orbitCursorAngle + 'rad)', opacity: orbitCursorOpacity }, cesiumSvgPath: { path: svgCompassRotationMarker, width: 145, height: 145 }"></div>
    <div class="compass-outer-ring" title="Click and drag to rotate the camera" data-bind="style: { transform: 'rotate(-' + heading + 'rad)' }, cesiumSvgPath: { path: svgCompassOuterRing, width: 145, height: 145 }"></div>
    <div class="compass-gyro-background"></div>
    <div class="compass-gyro" data-bind="cesiumSvgPath: { path: svgCompassGyro, width: 145, height: 145 }"></div>
</div>
<div class="navigation-controls">
    <div class="navigation-control" data-bind="click: zoomIn" title="Zoom In">
        <div class="navigation-control-icon-zoom-in" data-bind="cesiumSvgPath: { path: svgZoomIn, width: 22, height: 22 }"></div>
    </div>
    <div class="navigation-control" data-bind="click: resetView" title="Reset View">
        <div class="navigation-control-icon-reset" data-bind="cesiumSvgPath: { path: svgReset, width: 15, height: 15 }"></div>
    </div>
    <div class="navigation-control" data-bind="click: zoomOut, css: { 'navigation-control-last': !showTilt }" title="Zoom Out">
        <div class="navigation-control-icon-zoom-out" data-bind="cesiumSvgPath: { path: svgZoomOut, width: 22, height: 22 }"></div>
    </div>
    <div class="navigation-control-last" data-bind="click: tilt, visible: showTilt" title="Change Tilt">
        <div class="navigation-control-icon-tilt" data-bind="cesiumSvgPath: { path: svgTilt, width: 32, height: 32 }"></div>
    </div>
</div>
