<div class="now-viewing">
    <div class="now-viewing-toolbar">
        <div class="now-viewing-clear-all clickable" data-bind="click: nowViewing.removeAll.bind(nowViewing)">Clear All</div>
    </div>

    <div class="now-viewing-list" data-bind="foreach: nowViewing.items">
        <div class="now-viewing-item-top-row">
            <div class="now-viewing-item-icon-holder">
                <div class="now-viewing-item-icon clickable" data-bind="click: toggleShown, cesiumSvgPath: { path: isShown ? $root.svgCheckboxChecked : $root.svgCheckboxUnchecked, width: 32, height: 32 }, css: { 'now-viewing-shown-item': isShown }"></div>
            </div>
            <div class="now-viewing-item-label clickable" data-bind="text: name, click: zoomTo, css { 'now-viewing-shown-item': isShown }"></div>
            <div class="now-viewing-item-info">
                <div class="now-viewing-info-icon clickable" data-bind="click: $root.showInfo.bind($root), cesiumSvgPath: { path: $root.svgInfo, width: 18, height: 18, 'fill-rule': 'evenodd' }"></div>
            </div>
        </div>
    </div>
</div>

