body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size:12px;
    font-family: "Open Sans" sans-serif;
}

#cesiumContainer {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#product {
    opacity: 0.99;
    font-size: 18pt;
    margin: 10px;
    padding: 0;
    color: #fff;
    width: 180px;
}

.menu {
    position: absolute;
    display: block;
    right: 0;
    top: 200px;
}

.menuItem {
    opacity: 0.95;
    font-size: 9.5pt;
    padding: 2px;
    color: #444;
    width: 80px;
}

#controls {
    position: absolute;
    top: 50px;
    right: 10px;
    
    opacity: 0.95;
    font-size: 9.5pt;
    padding: 0px;
    color: #444;
    width: 30px;
}

#settings {
    position: absolute;
    top: 62px;
    right: 3px;
    
    opacity: 0.95;
    font-size: 9.5pt;
    padding: 0px;
    color: #444;
    width: 30px;
}

#legend {
    display: block;
    position:fixed;
    bottom: 140px;
    left: 20px;
    height: 136px;
    background-color: rgba(0,0,0,0.8);
    color: #eee;
    font-size: 11pt;
}

#toolbar {
    position: absolute;
    top: 40px;
    left: 0;
    display: inline;
    margin: 10px;
    padding: 0px;
    background: white;
}

#logging {
    position: absolute;
    bottom: 25px;
    right: 5px;
    display: inline;
    margin: 10px;
    background: white;
}

#position {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: auto;
    font-size: 8.5pt;
    color: #fff;
    background-color:#333333;
    opacity: 0.9;
    border: 1px solid #555555;
    padding: 3px;
}

#loadingIndicator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/ajax-loader.gif);
}


.dialog {
    display: none;
    font-size: 9.5pt;
    width: 300px;
    opacity: 0.9;
}

.list {
    height:40%;
    overflow: auto;
    list-style-type: none; 
    margin: 10px;
    width: 100%;
}

.list .ui-selecting { 
    background: #FECA40;
}

.list .ui-selected { 
    background: #F39814; 
    color: white; 
}

li {
    padding-left: 10px; 
    margin-left: 10px;
}

.info {
    max-height:180px;
    overflow: auto;
    width: 90%;
    margin: 20px;
}

.data_type { 
    font-weight: bold;  
    margin-left: 0px; 
    margin-top: 8px; 
    margin-bottom: 5px;
}

.ui-icon-blank {
    background-position: -224px -192px;
}

.ausglobe-title-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#333333;
    opacity: 0.9;
    border: 1px solid #555555;
    vertical-align: middle;
}

.ausglobe-title-area:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.ausglobe-title-text {
    display: inline-block;
    font-weight: 400;
    font-size: 14pt;
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px
}

.ausglobe-title-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 10px;
}

.ausglobe-title-menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ausglobe-title-menuItem {
    position: relative;
    display: inline;
    color: #9A9A9B;
    font-size: 10pt;
}

a.ausglobe-title-menuItem {
    text-decoration: none;
}

a.ausglobe-title-menuItem:hover {
    text-decoration: underline;
}

.ausglobe-title-menuItem-divider {
    position: relative;
    display: inline;
    color: #9A9A9B;
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}

.ausglobe-title-credits {
    position: absolute;
    font-weight: 400;
    font-size: 7.5pt;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 400px;
    overflow: hidden;
}

.ausglobe-left-area {
    position: absolute;
    left: 0;
    width: 300px;
    top: 10px;
    bottom: 80px;
    pointer-events: none;
}

.ausglobe-panel-button {
    pointer-events: auto;
    position: relative;
    height: 30px;
    border: 1px solid #555555;
    width: 80px;
    left: 0;
    opacity: 0.95;
    font-size: 9.5pt;
    padding: 2px;
    background-color: #333333;
    line-height: 30px;
    cursor: pointer;

    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -ms-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

.ausglobe-panel-button:hover {
    color: #fff;  /* For text buttons */
    fill: #fff;   /* For SVG buttons */
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.ausglobe-panel-button-panel-visible {
    left: 310px;

    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -ms-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

.ausglobe-panel-button-image {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ausglobe-panel-button-label {
    position: relative;
    left: 25px;
    color: #fff;
    font-size: 11pt;
}

.ausglobe-panel {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    background-color: #FFFFFF;
    pointer-events: auto;

    -webkit-transition: visibility 0s 0.25s, left 0.25s;
    -moz-transition: visibility 0s 0.25s, left 0.25s;
    -ms-transition: visibility 0s 0.25s, left 0.25s;
    -o-transition: visibility 0s 0.25s, left 0.25s;
    transition: visibility 0s 0.25s, left 0.25s;
}

.ausglobe-panel-visible {
    visibility: visible;
    left: 10px;
    -webkit-transition: left 0.25s;
    -moz-transition: left 0.25s;
    -ms-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

.ausglobe-accordion-item {
}

.ausglobe-accordion-item-header {
    position: relative;
    margin: 1px;
    background-color: #E3E4E5;
    cursor: pointer;
}

.ausglobe-accordion-item-header-label {
    display: inline-block;
    padding: 10px;
    color: #0066CC;
    font-weight: bold;
    font-size: 12pt
}

.ausglobe-accordion-item-header-arrow {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ausglobe-accordion-item-content {
    visibility: hidden;
    position: relative;
    max-height: 0px;
    overflow: auto;

    -webkit-transition: max-height 0.25s, visibility 0s 0.25s;
    -moz-transition: max-height 0.25s, visibility 0s 0.25s;
    -ms-transition: max-height 0.25s, visibility 0s 0.25s;
    -o-transition: max-height 0.25s, visibility 0s 0.25s;
    transition: max-height 0.25s, visibility 0s 0.25s;
}

.ausglobe-accordion-item-content-visible {
    visibility: visible;
    max-height: 400px; /* TODO: set this dynamically based on number of accordion items */

    -webkit-transition: max-height 0.25s;
    -moz-transition: max-height 0.25s;
    -ms-transition: max-height 0.25s;
    -o-transition: max-height 0.25s;
    transition: max-height 0.25s;
}

.ausglobe-accordion-category {
    padding: 10px;
}

.ausglobe-accordion-category-header {
    cursor: pointer;
}

.ausglobe-accordion-category-header-arrow {
    display: inline-block;
    position: relative;
    top: 5px;
}

.ausglobe-accordion-category-header-label {
    display: inline-block;
    color: #0066CC;
    font-size: 11pt;
}

.ausglobe-accordion-category-content {
    display: none;
    position: relative;
    width: 100%;
}

.ausglobe-accordion-category-content-visible {
    display: inline-block;
}

.ausglobe-accordion-category-item-label {
    position: relative;
    right: 0;
    font-size: 11pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ausglobe-accordion-category-item-enabled {
    background-color: #CCDDD8;
}