@default-font: 'Roboto Condensed', sans-serif;
@highlight-color: #68ADFE;

// Brand bar
@brand-bar-background-color: #282D32;
@brand-bar-opacity: 1.0;
@brand-bar-width: 350px; // not counting the diagonal portion

// Panels
@panel-background-color: #2F353C;
@panel-opacity: 1.0;
@panel-border-color: #979797;

// Explorer panel options
@explorer-panel-width: @brand-bar-width;
@explorer-active-tab-color: @highlight-color;
@explorer-inactive-tab-color: #666666;
@explorer-panel-close-animation-length: 0.25s;
@explorer-panel-tab-switch-animation-length: 0.25s;

// Modal panels
@modal-panel-color: #2F353C;

@import "Styles/Reset.less";
@import "Styles/Core.less";
@import "Styles/Panels.less";
@import "Styles/Map.less";

// Individual widgets
@import "Styles/AddDataPanel.less";
@import "Styles/BrandBar.less";
@import "Styles/CatalogItemInfo.less";
@import "Styles/DistanceLegend.less";
@import "Styles/ExplorerPanel.less";
@import "Styles/LocationBar.less";
@import "Styles/MenuBar.less";
@import "Styles/Navigation.less";
@import "Styles/PopupMessage.less";
@import "Styles/SearchPanel.less";
@import "Styles/SettingsPanel.less";
@import "Styles/SharePopup.less";

// Tabs on the Explorer Panel
@import "Styles/DataCatalogTab.less";
@import "Styles/NowViewingTab.less";
@import "Styles/SearchTab.less";
