@default-font: 'Roboto Condensed', sans-serif;
@highlight-color: #68ADFE;

// Brand bar
@brand-bar-background-color: #282D32;
@brand-bar-opacity: 1.0;
@brand-bar-width: 276px; // not counting the diagonal portion

// Panels
@panel-background-color: #2F353C;
@panel-border-color: #979797;

// Explorer panel options
@explorer-active-tab-color: @highlight-color;
@explorer-inactive-tab-color: #666666;

@import "Styles/Reset.less";
@import "Styles/Core.less";
@import "Styles/Panels.less";
@import "Styles/Map.less";

// Individual widgets
@import "Styles/BrandBar.less";
@import "Styles/DistanceLegend.less";
@import "Styles/ExplorerPanel.less";
@import "Styles/LocationBar.less";
@import "Styles/MenuBar.less";
@import "Styles/SearchPanel.less";

// Tabs on the Explorer Panel
@import "Styles/DataCatalogTab.less";
@import "Styles/NowViewingTab.less";
